*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #ffffff;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #ff004f;
  color: #ff004f;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav ul li a:hover {
  box-shadow: inset 100px 0 0 0 #ff004f;
  color: white;
}

.header-text{
  margin-top: 20%;
  font-size: 20px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h2{
  margin-top: 20px;
}

.header-text h1 span{
  color: #ff004f;
}

/* ------------- About -------------- */

#about{
  padding: 80px 0;
  color: #ababab;
}

.about-col-1 img{
  width: 500px;
  height: 667px;
  border-radius: 15px;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-2{
  flex-basis: 45%;
}

.about-col-2 h1{
  font-size: 60px;
  font-weight: 600;
}

.about-info{
  color: #ffffff;
}


.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #00eeff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #00eeff;
  font-size: 14px;
}

/*-------------------- Service ------------------- */

#service{
  padding: 30px 0;
  color: #ababab;
  background-image: url(https://images.pexels.com/photos/4004374/pexels-photo-4004374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.service-list{
  color: #ff004f;
  margin-top: 50px;
}

.service-list div{
  background-color: black;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00eeff;
  opacity: 0.5;
  transition: background 0.5s, transform 0.5s;
}

.service-list div:hover{
  transform: translateY(-10px);
  border: 1px solid #ff004f;
}

/* ------------------ Portfolio --------------------- */ 

#portfolio{
  padding: 50px 0;
  color: #080808;
  background-image: url(https://images.pexels.com/photos/240230/pexels-photo-240230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.container p{
  color: #ff004f;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  filter: blur(1px);
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rbga(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14p;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #00eeff;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.5s;
}

.btn:hover{
  background: #ff004f;
}

/* ------------------ Contact ------------------ */

#contact{
  color: #ababab;
  padding: 50px 0;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i{
  color: #00eeff;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #00eeff;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #ff004f;
  color: #00eeff;
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #ffffff;
  font-size: 10px;
  border-radius: 6px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

/* -------------------- Resposive -------------------- */










/* ------------------- Submit -------------------- */

#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}


